body{
    padding: 100px;
}
.form-area{
    padding: 40px;
    margin-top: 40px;
    border-radius: 12px;
    box-shadow: 10px 10px 20px gray;
}
#transaction-area{
    display: none;
}
.Deposit{
    
    background-color: slateblue;
}
.Balance{
    
    background-color: lightsalmon;
}
.Withdraw{
   
    background-color: orange;
}
.status{
    margin: 0px 10px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}